!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    / Use the title from a page's frontmatter if it has one
    %title= current_page.data.project+' Running with Nanobox' || "Nanobox Bootstrap"

    / Stylesheet & favicon - need to be updated for final bootstrap template
    = stylesheet_link_tag "styles"
    = favicon_tag "favicon.png"

    / Google Fonts
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet"}
  %body
    .wrapper
      .logo
        .shadow
          =partial "shared-svg/shadow"
        .icon
          =partial "./logo"
        .burst
          =partial "shared-svg/burst"

      .content
        %h2 Woohoo! You’re running #{current_page.data.project} with Nanobox!
        %p
          Nanobox has bootstrapped
          - if ["A", "E", "I", "O", "U"].include? current_page.data.project[0]
            an
          - else
            a
          =current_page.data.project
          project for you inside a fully containerized, virtual #{current_page.data.language} environment. The generated codebase is  available in your local filesystem. Any changes there will be reflected here.
        .links
          .list
            %h4 More Info
            %ul
              -current_page.data.more_info.links.each do |link|
                %li #{link_to link.text, link.href, target: '_blank'}
              %li #{link_to 'Nanobox Docs', 'https://docs.nanobox.io', target: '_blank'}
          .list
            %h4 Get In Touch
            %ul
              %li #{link_to 'Nanobox Slack', 'https://nanoboxio.slack.com', target: '_blank'}
              %li #{link_to 'Email Us', 'mailto:hello@nanobox.io'}
        .footer
          %p
            Bootstrapped with
            %span.heart
              =partial "shared-svg/heart"
            by #{link_to 'Nanobox', 'https://nanobox.io', target: '_blank'}
