!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}
    %title= current_page.data.project+' Running with Nanobox' || "Nanobox Bootstrap"

    / Stylesheet & favicon - START

    = stylesheet_link_tag "styles"
    = favicon_tag "favicon.png"

    / Stylesheet & favicon - END

    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet"}
  %body
    .wrapper
      .logo
        .shadow
          =partial "shared-svg/shadow"
        .icon
          =partial "./logo"
        .burst
          =partial "shared-svg/burst"

      .content
        %h2 Woohoo! You’re running #{current_page.data.project} with Nanobox!
        %p Nanobox has bootstrapped #{ ('an' if ["A", "E", "I", "O", "U"].include? current_page.data.project[0]) || 'a'} #{current_page.data.project} project for you inside a fully containerized #{current_page.data.language} environment. Deploy all the things!
        .links
          .list
            %h4 More Info
            %ul
              -current_page.data.more_info.links.each do |link|
                %li #{link_to link.text, link.href, target: '_blank'}
              %li #{link_to 'Nanobox Docs', 'https://docs.nanobox.io', target: '_blank'}
          .list
            %h4 Get In Touch
            %ul
              %li #{link_to 'Nanobox Slack', 'https://nanoboxio.slack.com', target: '_blank'}
              %li #{link_to 'Email Us', 'mailto:hello@nanobox.io'}
        %p.qs-repo View the #{link_to current_page.data.project+' Quickstart', current_page.data.quickstart_repo+'#readme', target: '_blank'} project for information about what was involved in the bootstrapping process. You can also download the generated source code from the #{link_to current_page.data.project+' Quickstart releases', current_page.data.quickstart_repo+'/releases', target: '_blank'} page.
        .footer
          %p
            Bootstrapped with
            %span.heart
              =partial "shared-svg/heart"
            by #{link_to 'Nanobox', 'https://nanobox.io', target: '_blank'}
