---
title: Microbox Bootstrap Landing Pages
layout: home
---

%h2 Bootstrap Pages

%h4 Elixir
%ul
  %li #{link_to 'Phoenix', '/elixir/phoenix'}

%h4 Go
%ul
  %li #{link_to 'Beego', '/go/beego'}
  %li #{link_to 'Echo', '/go/echo'}
  %li #{link_to 'Gin', '/go/gin'}
  %li #{link_to 'Hugo', '/go/hugo'}
  %li #{link_to 'Revel', '/go/revel'}

%h4 Javascript
%ul
  %li #{link_to 'Angular', '/js/angular'}
  %li #{link_to 'Ember', '/js/ember'}
  %li #{link_to 'React', '/js/react'}
  %li #{link_to 'Vue', '/js/vue'}

%h4 Node.js
%ul
  %li #{link_to 'Adonis', '/nodejs/adonis'}
  %li #{link_to 'Express', '/nodejs/express'}
  %li #{link_to 'Feathers', '/nodejs/feathers'}
  %li #{link_to 'Hapi.js', '/nodejs/hapi'}
  %li #{link_to 'Moleculer', '/nodejs/moleculer'}
  %li #{link_to 'Sails', '/nodejs/sails'}

%h4 PHP
%ul
  %li #{link_to 'CodeIgniter', '/php/codeigniter'}
  %li #{link_to 'Laravel', '/php/laravel'}
  %li #{link_to 'Lumen', '/php/lumen'}
  %li #{link_to 'Nette', '/php/nette'}
  %li #{link_to 'Phalcon', '/php/phalcon'}
  %li #{link_to 'Slim', '/php/slim'}
  %li #{link_to 'Symfony', '/php/symfony'}

%h4 Python
%ul
  %li #{link_to 'Django', '/python/django'}
  %li #{link_to 'Flask', '/python/flask'}

%h4 Ruby
%ul
  %li #{link_to 'Rails', '/ruby/rails'}
  %li #{link_to 'Sinatra', '/ruby/sinatra'}
